body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
  }
  
  .tulisan{
    font-size:14px;
    font-weight: bold;
  }
  
  .zoom {
    transition: transform .2s;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  
  .top-content .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .carousel-inner {
    border-radius: 10px;
  }
  
    /* Dropdown Button */
    .dropbtn {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      padding: 2px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
    
    /*link*/
    a:link {
      color: red;
    }
    
    /* visited link */
    a:visited {
      color: rgb(255, 0, 0);
    }
  
    .btn-menu{
      padding: 35px 15px;
      text-align: center;
    }
  
    .jenispaket {
      text-align: left;
    }
  
    .beratpaket {
      text-align: left;
    }
    .provinsi {
      text-align: left;
    }
  
    select {
      width: 90%;
      height: 50px;
    }
  
    input {
      height: 50px;
    }
  
    #name {
      width:90%;
      height: 40px;
    }
  
    .volumepaket {
      text-align: left;
    }
    
    .buttonsimpan {
      width: 100%;    
      }
  
      .button {
      background-color: #EF2E2E; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      padding-top: 20px; 
      }
  
  .col-sm-5 {
      overflow: auto;
  }
  
  .col-sm-7 {
      overflow: auto;
  }

  #order1 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #EFEFEF;
  }

  #order2 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #EFEFEF;
  }

  #order3 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #EFEFEF;
  }
  
  .cariKurir {
      padding-top: 15px;
  }
  
  .pilihKurir {
      padding-top: 15px;
  }
  
  .pengirim {
      text-align:left;
  }
  
  .penerima {
      text-align:left;
  }
  
  .pilihkurir {
      text-align:left;
  }
  .informasi {
    text-align:left;
    background-color: #EFEFEF;
}

.lightGray{
  background-color: #EFEFEF;
}
  
  .judul {
      text-align: center;
  }
  
  .title {
      text-align: left;
      
  }
  .tabcontent{
    padding: 0px !important;
    background-color: white !important;
  }
  #defaultOpen {
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    color:white;
    border-color: inherit;
  }
  
  .pilalamat {
    text-align: left;
  }
  
  /* #datapenerima {
    border-radius: 12px;
    font-size: 12px;
    background-color: #A6A6A6;
  }
  
  #datakurir {
    border-radius: 12px;
    font-size: 12px;
    background-color: #A6A6A6;
  } */
  
  .tabel {
      text-align: left;
  }

  .btn-dangerKeluar {
    background-color : #b80808;
    width: 195px;
    height: 45px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
    }
    .btn-dangerKeluar:hover {
      border: 1px solid #f80b0b;
      background-color: #f80b0b;
      color: #fff; 
    }

    .batal-btn {
      border: 1px solid #f80606;
      width: 195px;
      height: 45px;
      font-size: 18px;
      color: #f80606; 
      margin-bottom: 20px;
      }
      
      .batal-btn:hover {
        border: 1px solid #f80b0b;
        color: #f80606; 
      }

      .row.back{
        padding-left: 130px;
      }

      .col-sm-1.kembali{
        padding-top: 25px;
        padding-left: 40px;
    }

    .iconKembali{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: rgb(243, 243, 243);
      cursor: pointer;
      }
      