/* Style button kembali*/
.btn-circle.btn-sm {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    font-size: 8px;
    background-color: rgb(239, 239, 239);
}

/* Style the tab */
.tab {
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    font-family: Arial;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  
  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

/* Style lingkaran nomor*/
span.circle {
    background: rgb(0, 0, 0);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
    font-size: 12px;
    }

/* Style gambar */
    .gambar{
        max-width: 70%;
        max-height: 70%;
    }