  /* Style button kembali*/
.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  font-size: 8px;
  background-color: rgb(239, 239, 239);
}
  
  span.circle {
    background: rgb(0, 0, 0);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
    font-size: 12px;
    }

    .gambar{
        max-width: 70%;
        max-height: 70%;
    }